

table {
    width: 100%;
}

th {
    text-align: center;
    background-color: #04B431;
    color: #FFFFFF;
    padding : 0.5em 0.5em
}

tbody tr td {
    padding : 0.3em 0.5em
}

tbody tr:nth-child(2n) {
    background-color: #F2F2F2;
}
tbody tr:nth-child(2n+1) {
    background-color: #FFFFFF;
}

.button-table {
    text-align: center;
}